<footer>
  <h3>リンク集</h3>
    <ul>
      <li><a target="_blank"href="http://celticstudiesjapan.org/">- 日本ケルト学会</a></li>
      <li><a target="_blank"href="https://cdsjapan.jimdofree.com/">- 日本ウェールズ協会</a></li>
      <li><a target="_blank"href="https://kansaistdavidsocietyjapan.jimdofree.com/">- 関西ウェールズ協会</a></li>
      <li><a target="_blank"href="https://www.wales-japan.com/wales/">- ウェールズ政府日本事務所</a></li>
      <li><a target="_blank"href="http://www.cymru2008.com/">- ウェールズ？カムリ！</a></li>
      <li><a target="_blank"href="https://walesbanzai.jimdofree.com/%E3%82%A6%E3%82%A7%E3%83%BC%E3%83%AB%E3%82%BA%E3%81%A3%E3%81%A6/">- ガイドブックに載っていない英国ウェールズ案内</a></li>
      <li><a target="_blank" href="http://geiriadur.ac.uk/gpc/gpc.html">- ウェールズ大学出版ウェールズ語大辞典</a></li>
      <li><a target="_blank" href="https://geiriaduracademi.org/">- 英語ウェールズ語辞典</a></li>
    </ul>
    <small>
      Copyright © 2019 nihon-cymru-wales-gakkai.com. All Rights Reserved.
    </small>

</footer>
