---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div class="post__container">
  <h2>{{ page.title }}</h2>

  {% include page-intro.html %}
  {{ content }}

  <nav aria-label="Adjacent Posts">
    <ul>
      {% if page.previous.url %}
        <li>
          <a class="preview__post" href="{{page.previous.url}}" rel="prev">&lt; {{page.previous.title}}</a>
        </li>
      {% endif %}
      {% if page.next.url %}
        <li>
          <a class="next__post" href="{{page.next.url}}" rel="next">{{page.next.title}} &gt;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
